<head th:fragment="header">

    <meta charset="utf-8"/>
    <title>PlanesAndAirfields</title>
    <base th:href="@{/}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-reboot.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/built/vendor.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/flag-icon.min.css}"/>
        
</head>