<div class="container">

    <div class="card">
        <div class="card-header">
            <strong>{{'airplane.title' | translate}}</strong>
            <div class="pull-right">
                <a class="btn btn-sm btn-success" href="#" routerLink="/menu/plane" routerLinkActive="active"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div>
            <ap-filtertoolbar [formGroup]="filterForm" (onFilter)="onFilter($event)">
                <ap-input formControlName="name" [formGroup]="filterForm" size=2 placeholder="airplane.name"></ap-input>
            </ap-filtertoolbar>
            <ap-pageabletable [columns]="columns" [data]="data" [pageRequest]="searchRequest.pageRequest" [rows]="rows" (onChange)="onChange($event)"></ap-pageabletable>
        </div>
    </div>

    <!--<ap-modal #test uid="test" title="Modal Window">
        <ap-input2 property="name" label="airplane.name" size=12 [validators]="['', 'Validators.required']"></ap-input2>
        <ap-input2 property="registration" label="airplane.registration" size=12 [validators]="['', 'Validators.required']"></ap-input2>
        <ap-input2 property="description" label="airplane.description" size=12 [validators]="['']"></ap-input2>
        <ap-form-input size="12" property="boom">
            <span>huj</span>
        </ap-form-input>
    </ap-modal>-->

</div>
