target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
built/
nbbuild/
dist/
nbdist/
.nb-gradle/

#GUI
src/main/resources/static/node/
src/main/resources/static/node_modules/
src/main/resources/static/built/
src/main/resources/static/npm-debug.log
