<!DOCTYPE html>
<html>
<head th:replace="common/main :: header"></head>

<body>

<div class="nb-error" style="margin: 0 auto;
                      text-align: center;
                      max-width: 50%;
                      padding: 60px 30px;">
    <div class="error-code" style="color: #2d353c;
                              font-size: 96px;
                              line-height: 100px;">
        <span th:text="${title}"></span>
    </div>
    <h3 class="font-bold"><span th:text="${subtitle}"></span></h3>

    <div class="error-desc">
        <p th:text="${description}" class="lead"></p>
    </div>
</div>


</body>
</html>