<!DOCTYPE html>
<html lang="en" ng-app="FlightDetailsApp" ng-cloak="" ng-controller="flightDetailsController">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <title>{{flightDetails.plane.name}}</title>
</head>
<body>
<div>
    <table class="table-condensed table-striped table-hover">
        <th>Flight details : {{flightDetails.plane.name}}</th>
        <tr>
            <td th:text="#{flightDetails.gpsLatitude}">Gps Latitude</td>
            <td>{{flightDetails.gpsLatitude}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.gpsLongitude}">Gps Longitude</td>
            <td>{{flightDetails.gpsLongitude}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.averageFuelConsumption}">Average Fuel Consumption</td>
            <td>{{flightDetails.averageFuelConsumption}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.course}">Course</td>
            <td>{{flightDetails.course}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.incomingTime}">Incoming time</td>
            <td>{{flightDetails.incomingTime | date : "medium"}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.flightTime}">Flight time</td>
            <td>{{flightDetails.flightTime}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.flightDistance}">Flight distance</td>
            <td>{{flightDetails.flightDistance}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.Velocity}">Velocity</td>
            <td>{{flightDetails.velocity}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.remainingFuel}">Remaining fuel</td>
            <td>{{flightDetails.remainingFuel}}</td>
        </tr>
        <tr>
            <td th:text="#{flightDetails.distanceTraveled}">Distance traveld</td>
            <td>{{flightDetails.distanceTraveled}}</td>
        </tr>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/flightDetails/flightDetailsWindowApp.js"></script>
</body>
</html>