<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>PlanesAndAirfields</title>
    <base th:href="@{/}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-reboot.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/built/vendor.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/flag-icon.min.css}"/>
</head>
<body>

<app-root>Loading Angular...</app-root>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMM5SVaQN_uhe5GVZj41g5s0db1OBNtFE&amp;libraries=geometry"></script>

<th:block th:if="${@environment.getProperty('server.production')}">
    <script th:src="@{/built/polyfills.js}"></script>
    <script th:src="@{/built/vendor.js}"></script>
    <script th:src="@{/built/app.js}"></script>
</th:block>

<th:block th:if="${!@environment.getProperty('server.production')}" >
    <script src="http://localhost:3000/polyfills.js"></script>
    <script src="http://localhost:3000/vendor.js"></script>
    <script src="http://localhost:3000/app.js"></script>
</th:block>

</body>
</html>