<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Planes</title>
</head>
<body ng-app="planes">
<h1>Add Planes</h1>
<div ng-controller="savePlane">
     <form name="form" ng-submit="submitForm(form.$valid)" novalidate="novalidate">
         <table>
             <tr>
                 <td th:text="#{plane.name}" >Name</td>
                 <td><input ng-model="plane.name" type="text" name="pName" required=""/>
                     <div ng-show="form.$submitted || form.pName.$touched">
                         <div ng-show="form.pName.$error.required" th:text="#{error.required.plane.name}">Field required</div>
                     </div>
                 </td>
             </tr>

             <tr>
                 <td th:text="#{plane.registration_number}">Registration</td>
                 <td><input ng-model="plane.registration" name="pRegistration" type="text" required=""/>
                     <div ng-show="form.$submitted || form.pRegistration.$touched">
                         <div ng-show="form.pRegistration.$error.required" th:text="#{error.required.plane.registration}">Field required</div>
                     </div>
                 </td>
             </tr>
             <tr>
                 <td th:text="#{plane.description}">Registration</td>
                 <td><textarea rows="3" cols="20" ng-model="plane.description"/></td>
             </tr>
         </table>
        <input type="button" ng-click="reset(form)" value="Reset" />
        <input type="submit" th:attr="value=#{button.save}" />
    </form>
    <p>{{success}}</p>
    <p>{{error}}</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js" type="text/javascript"></script>
<script src="/js/planes_service.js"></script>
</body>
</html>