<div class="container" id="wrapper" [ngClass]="toggled" >

    <div id="sidebar-wrapper"  *ngIf="flightDetails">
       <table class="table table-bordered table-striped table-sm">
         <tbody>
             <tr>
                 <th>{{'airplane.name' | translate}}</th>
                 <td>{{flightDetails?.planeName}}</td>
            </tr>
            <tr>    
                <th>{{'airplane.registration' | translate}}</th>
                <td>{{flightDetails?.planeRegistration}}</td>
            </tr>
             <tr>    
                <th>{{'airplane.course' | translate}}</th>
                <td>{{flightDetails?.course}}</td>
            </tr>
             <tr>    
                <th>{{'airplane.latitude' | translate}}</th>
                <td>{{flightDetails?.latitude}}</td>
            </tr>
             <tr>    
                <th>{{'airplane.longitude' | translate}}</th>
                <td>{{flightDetails?.longitude}}</td>
            </tr>
             <tr>    
                <th>{{'airplane.velocityKmH' | translate}}</th>
                <td>{{flightDetails?.velocity}}</td>
            </tr>
             <tr>    
                <th>{{'airplane.averageFuelConsumptionLKm' | translate}}</th>
                <td>{{flightDetails?.averageFuelConsumption}}</td>
            </tr>
        
        </tbody>
    </table>
    </div>
</div>