<div ngClass="form-group col-sm-{{size}}">
    <label [for]="property">{{ label | translate }}</label>
    <input [ngClass]="{'invalid': !control.valid && control.touched}" type="text" (input)="onInputChange($event.target.value)" [value]="value"
        class="form-control" [name]="property" [placeholder]="getPlaceholder()" ng2-auto-complete 
        [source]="source" value-property-name="sid" [min-chars]="minChars" 
        [list-formatter]="listFormatter" [display-property-name]="displayPropertyName"
        autocomplete="off" [formControl]="control">
    <error-messages [control]="control"></error-messages>
</div>